{% extends 'base.html.twig' %}

{% block title %}Wyrmhaven - Map{% endblock %}

{% block body %}
<body style="background-image: url('{{ asset('images/wall/shop.png') }}');    background-position-x: center;">

    {% include "inc/header.html.twig" %}

            <h1 class="title mt-1">SHOP</h1>
            <div class="container-full">
            
            <div class="list-block">
                <h3>LA CAVE DE MERLIN</h3>
                <div class="list-shop">
                    <div class="row-sac">

                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/10.png') }}">
                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/12.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/13.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/14.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/15.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/16.png') }}">

                        </div>
                    </div>
                    <div class="row-sac">

                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/8.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/2.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/3.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/4.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/6.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/7.png') }}">

                        </div>
                    </div>
                    <div class="row-sac">
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/20.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/21.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/22.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/23.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/24.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/25.png') }}">

                        </div>
                    </div>
                    <div class="row-sac">
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/26.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/27.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/28.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/29.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/30.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/31.png') }}">

                        </div>
                    </div>
                    <div class="row-sac">
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/32.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/33.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/34.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/35.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/36.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/37.png') }}">

                        </div>
                    </div>
                    <div class="row-sac">
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/38.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/39.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/40.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/41.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/42.png') }}">

                        </div>
                        <div class="item-slot-shop">
                            <img src="{{ asset('images/cake/43.png') }}">

                        </div>
                    </div>


                </div>
            </div>


            <div class="d-block">

                <div class="sac-block">
                    <h3>INVENTAIRE</h3>
                    <div class="sac-shop">
                        <div class="row-sac">
                            <div class="item-slot-sac">
                                <img src="{{asset('images/inventory/ArmorT1.png') }}">
                            </div>
                            <div class="item-slot-sac">
                                <img src="{{asset('images/inventory/ShieldSmallT1.png') }}">

                            </div>
                            <div class="item-slot-sac">
                                <img src="{{asset('images/inventory/AxeT1.png') }}">

                            </div>
                            <div class="item-slot-sac">
                                <img src="{{asset('images/inventory/BowT1.png') }}">

                            </div>
                            <div class="item-slot-sac">
                                <img src="{{asset('images/inventory/SwordT1.png') }}">

                            </div>
                            <div class="item-slot-sac">
    
                            </div>
                            <div class="item-slot-sac">
    
                            </div>
                            <div class="item-slot-sac">
    
                            </div>
                        </div>
                        <div class="row-sac">
                            <div class="item-slot-sac">

                            </div>
                            <div class="item-slot-sac">

                            </div>
                            <div class="item-slot-sac">

                            </div>
                            <div class="item-slot-sac">
    
                            </div>
                            <div class="item-slot-sac">
    
                            </div>
                            <div class="item-slot-sac">
    
                            </div>
                            <div class="item-slot-sac">
    
                            </div>
                            <div class="item-slot-sac">
    
                            </div>
                        </div>
                        <div class="row-sac">
                            <div class="item-slot-sac">

                            </div>
                            <div class="item-slot-sac">

                            </div>
                            <div class="item-slot-sac">

                            </div>
                            <div class="item-slot-sac">
    
                            </div>
                            <div class="item-slot-sac">
    
                            </div>
                            <div class="item-slot-sac">
    
                            </div>
                            <div class="item-slot-sac">
    
                            </div>
                            <div class="item-slot-sac">
    
                            </div>
                        </div>
                    </div>
                </div>



                <div class="info-shop">
                    <div class="description">
                        <div class="d-block" style="width: 85%;">
                            <h3>Gemme Magique (Orange)</h3>
                            <p>Cette gemme magique peut-être équipe sur votre épée afin d'ameliorer sa résistance.</p>
                            <span class="mt-5" style="display: flex;"><img src="{{ asset('images/credit.png') }}" width="30px" height="30px" style="margin-right: 1%;"> 100</span>
                            <div class="button-slot">
                                <a class="button-rpg"> ACTION </a>

                        </div>
                        </div>
                        <div class="d-block">
                            <div class="item-slot-sac" style="margin: 35%;">
                                <img src="{{ asset('images/cake/10.png') }}">

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            </div>
</body>
{% endblock %}

